VITE_FIREBASE_API_KEY=iyong_api_key_dito
VITE_FIREBASE_AUTH_DOMAIN=iyong_auth_domain_dito
VITE_FIREBASE_PROJECT_ID=iyong_project_id_dito
VITE_FIREBASE_STORAGE_BUCKET=iyong_storage_bucket_dito
VITE_FIREBASE_MESSAGING_SENDER_ID=iyong_sender_id_dito
VITE_FIREBASE_APP_ID=iyong_app_id_dito